
@{
    ViewBag.Title = "ToDoList";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}
<h3>Yapılacaklar Listesi</h3>
<p>#1 Profilim</p>
<p><del>#2 Tüm Başlıklara Paging İşlemi</del></p>
<p><del>#3 Session göre mesaj işlemleri</del></p>
<p>#4 Oturum yönetiminin mimariye taşınması</p>
<p>#5 Token kullanımı</p>


