
@{
    Layout = null;
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<h3>Mvc Tablo Örneği - Kategori</h3>
<br />
<table class="table table-bordered">
    <tr>
        <th>Id</th>
        <th>Adı</th>
        <th>Açıklama</th>
        <th>Durum</th>
        <th>Güncelle</th>

    </tr>
    <tr>
        <td>1</td>
        <td>Eğitim</td>
        <td>Açıklama</td>
        <td>True</td>
        <td><button class="btn btn-primary">Düzenle</button></td>


    </tr>
    <tr>
        <td>2</td>
        <td>Spor</td>
        <td>Açıklama</td>
        <td>True</td>
        <td><button class="btn btn-primary">Düzenle</button></td>

    </tr>
    <tr>
        <td>3</td>
        <td>Film</td>
        <td>Açıklama</td>
        <td>True</td>
        <td><button class="btn btn-primary">Düzenle</button></td>

    </tr>
    <tr>
        <td>4</td>
        <td>Dizi</td>
        <td>Açıklama</td>
        <td>True</td>
        <td><button class="btn btn-primary">Düzenle</button></td>

    </tr>

</table>
<button class="btn btn-success">Yeni Kategori</button>
<button class="btn btn-info">Kategori Sil</button>
<button class="btn btn-dark">Kategori Açıklamaları</button>
